#topp{
	font-family: fantasy;
	margin:20px;
	height: 90%;
	border-style:groove;
	border-width: 30px;
	border-top-color: silver;
	border-bottom-color: azure;
	border-left-color: lightgreen;
	border-right-color: lightgreen;
	border-radius: 40px;
	border-right: dotted;
	border-left: dotted;
	letter-spacing: 2px;
}
body{
	font-family: fantasy;
	background: url(pages/pictures/backg.jpg),url("page/pictures/hilx.jpg"),url("pages/pictures/rdbull.jpg"),url(pages/pictures/hack.jpeg) darkblue;
	color: azure;
	background-attachment: fixed;
	background-blend-mode:darken;
}
div{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
	text-align: middle;
}
.table{
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	color: azure;
}
.table ul{
	position: fixed;
	list-style: none;
	margin-left: 500px;
	margin-right: auto;
	display:inline-flex;
}
.table ul li a{
	text-align: center;
	margin-right: auto;
	padding-left: 20px;
	text-decoration-line: none;
	transition: transform .2s;
	
}
.table ul li a:hover{
	color: #663300;
	background-color: dodgerblue;
	font-family: fantasy;
	font-size: 30px;
	text-transform: uppercase;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
#head{
	position: middle;
	text-align: center;
	border-style: groove;
	border-color: 	#9a83af;
	background-color: #1a001a;
	border-bottom: 15px;
	border-radius: 30px;
	border-left: none;
	border-right: none;
}
#head h1:hover{
	background-color: dodgerblue;
}
#body{
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	text-indent: 50px;
	border-color: #0d0033;
	border-radius: 15px;
	border-style: ridge;
	border-right: dotted;
	border-left: dotted;
	background: url(pictures/backg.jpg);
}
#pabout{
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;

}
::selection {
  color: dodgerblue;
  background: #000033;
}
#liskills{
	text-align: left;
	position: middle;
	text-align: justify-all;
}

#h1, #h2, #recursion{

	padding-left: 20px;
	margin-top: 25px;
	border-color: #280647;
	background-color: #271e2f;
	color: azure;	
	text-align: left;
	border-style: ridge;
	border-width: 10px;
	border-radius: 10px;
	border-right: dotted;
	border-left: dotted;
}
#h1 h1:hover{
	color: dodgerblue;
	text-align: center;
	text-transform: uppercase;
}
#h2 h2:hover{
	color: dodgerblue;
	text-align: center;
	text-transform: uppercase;
}
#recursion h3:hover{
	color: dodgerblue;
	text-align: center;
}
#headform:hover{
	text-align: center;
	color: dodgerblue;
	text-transform: uppercase;
}
#button{
	margin-left: 150px;
	text-align: center;
	transition: width 2s;
}
#button:hover{
	font-family: fantasy;
	font-size: 40px;
	width: 300px;
	color: #333333;
	border-radius: 15px;
	background-color: lightgreen;
	transition: width 300px;
}
#forms{
	color: azure;
	clear: both;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
#footer{
	text-align: right;
	color:azure;
	list-style: none;
}
#footer_references{
	text-decoration-line: none;
	text-decoration:none;
	color: slateblue;
	text-align: center ;
}
#footerhead{
	text-align: left;
	padding-top: 20px;
	color: azure;
}
#footerhead:hover{
	text-align: center;
	color: dodgerblue;
	text-transform: uppercase;
}
#floatleft{
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#floatright{
	float: right;
	margin-left: auto;
	margin-right: auto;
}
#footer a:hover{
	color: red;
	text-transform: uppercase;
}


