#topp{
	margin:20px;
	height: 90%;
	border-style:groove;
	border-width: 30px;
	border-top-color: silver;
	border-bottom-color: azure;
	border-left-color: lightgreen;
	border-right-color: lightgreen;
	border-radius: 40px;
}
body{
	background: url(pages/pictures/backg.jpg),url("page/pictures/hilx.jpg"),url("pages/pictures/rdbull.jpg"),url(pages/pictures/hack.jpeg) darkblue;
	color: azure;
}
div{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
	text-align: middle;
}
#nav{
	border-style: groove;
	border-radius: 35px;
	height: 30px;
	
	position: middle;
	text-align: center;
	border-color: silver;
	background-color: #1a0033;
	padding-top: 30px;
	border-width: 5px;
	font-weight: bold;
}
#navlinks{
	text-decoration-line: none;
	border-style: groove;
	border-radius: 10px;
	text-decoration: none;
	color:azure;
	background-color: 	#330033;
	padding-left: 50px;
	padding-right: 50px;
}
#head{
	position: middle;
	text-align: center;
	border-style: groove;
	border-color: 	#9a83af;
	background-color: #1a001a;
	border-radius: 30px;
}
#body{
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
	text-indent: 50px;
	border-color: #0d0033;
	border-radius: 15px;
	border-style: groove;
	background: url(pictures/backg.jpg);
}
#pabout{
	text-align: center justify-all;
	padding-right: 20px;
	padding-left: 20px;

}
#liskills{
	text-align: left;
	position: middle;
	text-align: justify-all;
}

#h1, #h2, #recursion{
	padding-left: 20px;
	margin-top: 25px;
	border-color: #280647;
	background-color: #271e2f;
	color: azure;
	position: middle;	
	text-align: justify-all;
	border-style: dashed;
	border-width: 10px;
	border-radius: 10px;
}
#footer{
	background-color: #1a0000;
	
	
	list-style: none;
	color:azure;
	border-color: silver;
	border-radius: 10px;
	border-style: groove;
}
#footer_references{
	text-decoration-line: none;
	text-decoration:none;
	color: azure;
	text-align: center justify;
}
#footerhead{
	padding-top: 20px;
	color: azure;
}
#floatleft{
	float: left;
}
#floatright{
	float: right;
}


