@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Arizonia-Regular.ttf);
}
#container-1{
	background-image: url(../pictures/2019-gmc-sierra-denali-carbonpro-edition-163.jpg);
	background-attachment: fixed;
	background-blend-mode:darken;
	margin: 0px;
	height: 1400px;
	border-color: black;
	border-style: groove;
	border-radius: 35px;
	border-width: 30px;
	text-align: center;
	color:azure;
	font-size: 20px;
	font-weight: bold;
	font-style: oblique;
	border-left: dotted;
	border-right: dotted;

}
header{
	background: transparent;
	color: black;
	padding-top: 10px;
	font-size: 30px;
	font-family: fantasy;
	font-style: italic;
}
#main {
	background-color: #1a001a;
	background-image: url(../pictures/2018-mercedes-benz-x-class-26.jpg);
	background-attachment: fixed;
	background-blend-mode: darken;
	border-radius: 15px;
	margin: auto;
	border-style: ridge;
	padding:auto;
	width: 97%;
	height: 500px;
	border: 3px solid black;
	display: -webkit-flex; /* Safari */
	display: flex;
	transition: transform 2s;
}
#main div {
	color:lavender;
	background-image: url(../pictures/Ford\ Ranger.jpg);
	background-attachment: fixed;
	background-blend-mode: luminosity;
	max-height: 100%;
	max-width: 100%; 
	border-style: ridge;
	border-radius: 20px;
	margin: 3px;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}
#exthover:hover{
	transform: scale(1.2);
}
#mhover:hover{
	transform: scale(1.8);
}
p{
	margin: auto;
	padding: auto;
	width: 500px;
	font-family: myFirstFont;
	font-size: 25px;
	background-color: darkgray;
	color: darkblue;
	justify-content: all;
	background-blend-mode: darken;
}
a{
	text-decoration: none;
	text-decoration-line: none;
}
#container-2{
	height: 200px;
	max-width: 100%
	background-image:url(../pictures/DSC_0068.jpg);
	background-attachment: fixed;
}