#container-1{
	background-color: darkblue;
	background-blend-mode:darken;
	margin: 30px;
	height: 1400px;
	border-color: red;
	border-style: groove;
	border-radius: 10px;
	border-width: 5px;
	text-align: center;
	color:azure;
	font-size: 20px;
	font-weight: bold;
	font-style: oblique;
	padding-top: 10px;

}
#container-2{
	padding-top: 5px;
	background-color: gray;
	height: 550px;
	margin: 30px;
	border-color: green;
	border-radius: 10px;
	border-style: groove;
	border-width: 5px;
}
#main {
	border-radius: 15px;
	margin: 10px;
	padding:10px;
	width: 97%;
	height: 500px;
	border: 1px solid black;
	display: -webkit-flex; /* Safari */
	display: flex;
}
#main div {
	border-radius: 10px;
	margin: 3px;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}