#container-1{
	margin: 20px;
	border-width:10px;
	border-style: groove;
	border-color: black;
	border-radius: 20px;
	height: 100%;
	background-image: url(../pictures/capbull.png);
	background-attachment: fixed;
}
#images{
	display: flex;
	max-width: 100%;
	max-height: 100%;
	margin: 120px;
	border-radius: 30px;
	transition: transform .2s;
}
#images:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}