body{
	font-family: fantasy;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}
#links{
	position: fixed;
	margin-top: 40px;
	font-family: fantasy;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	float: left;
	background-image: url(../pictures/blog.jpg);
	flex-wrap: scroll;
	background-attachment: fixed;
	background-color: #666633;
	border-color: silver;
	border-radius: 20px;
	border-width: 10px;
}
#links h1{
	text-align: center;
	color: dodgerblue;
}
#links h1:hover{
	color: slateblue;
	transform:rotate(860deg);
	-webkit-transform:rotate(860deg); /* Safari */
	  text-shadow: 2px 1px #2980b9, 3px 2px #2980b9, 4px 3px #2980b9, 5px 4px #2980b9, 6px 5px #2980b9, 7px 6px #2980b9; 
  transition: width 2s, height 2s, color 5s, text-shadow 2s;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s, color 2s, text-shadow 2s;
}
#links ul{
	list-style: none;
}
#links ul li a{
	color: azure;
	text-decoration-line: none;
}
#links ul li a:hover{
	font-family: fantasy;
	font-size: 35px;
	color: azure;
	border-width: 2px;
	border-radius: 5px;
	background-color: lightgreen;
}
#container-1{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	background-color: darkred;
}
#images{
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom:5px;
	display: flex;
	
	/*max-width: 100%;
	max-height: 100%;
	margin: 120px;*/
	border-radius: 30px;
	transition: transform .2s;
}
#images:hover{
	transition-duration: 5s;
	transform: rotate(150deg);
}
img{
	max-height: 100%;
	max-width: 100%;
}
img:hover{
	transition-duration: 5s;
}
#footer{
	
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	background-color:#260033;
	text-align:center;
	transition:transform .3s;
	color:azure;
}
#footer,#images:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


