#toper{
	height: 850px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background:url(../pictures/Tmb.jpg);
	border-style: groove;
	border-radius: 30px;
	border-width: 20px;
	border-top-color: silver;
	border-left-color: lightgreen;
	border-right-color: lightgreen;
	border-bottom-color: silver;
}
#body-contents{
	border-style: groove;
	border-left-color: lightgreen;
	border-right-color: lightgreen;
	border-top-color: silver;
	border-bottom-color: silver;
	border-radius: 30px;
	border-width: 10px;
	margin-top: 100px;
	margin-bottom: 20px;
	margin-left: 40px;
	height: 400px;
	width: 95%;
}
#contentheader{
	border-style: groove;
	border-width: 10px;
	border-radius: 20px;
	background-color: 	#0d0d0c;
	color: azure;
	text-align: center;
	padding-top: 14.5px;
	margin:30px;
	height: 30px;
}
#content-div{
	color: azure;
	background-color: #332600;
	border-style: groove;
	border-width: 10px;
	border-radius: 25px;
	padding-left: 20px;
}
#table-row{
	color: azure;
	background-color: darkblue;
	display: table-row;
    vertical-align: inherit;
}
table{
	border-spacing: 1.1rem;
}