@font-face{
  font-family: fontOne;
  src:url("../fonts/Arizonia-Regular.ttf");
}
body{
  height:1000px;
  background-color: #666633;
  background-image: url(../pictures/immg.jpg);
  background-attachment: fixed;
  font-family:Helvetica,Arial,san-serif;
  letter-spacing: 2px;
}
a{
  text-decoration:none;
  color:skyblue;
}
#header{
  border-radius:20px;
  border-bottom: dotted;
  border-left: none;
  border-right: none;
  border-top: dotted;
  border-style:ridge;
  background-color: #E95420;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#header:hover{
  background-color: #77216F;
}
#header h1:hover{
  font-style: normal;
  text-transform: uppercase;
  color: #E95420;
  font-family: fontOne;
  font-weight: bold;
  font-size: 34px;
}
h1,h2,h3{
  margin:0px;
}
#content{
  margin-left:auto;
  margin-right: auto;
  padding-top: 40px;
  height: 800px;
  width: 1200px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
}
#nav{
  position: fixed;
  padding-left: 5px;
  border-radius: 20px;
  background-color:lavender;
  width:200px;
  float:left;
  margin-right: 20px;
  transition: transform .2s;
}
#nav ul{
  list-style: none;
  padding:0;
}
#nav ul li a{
  color: skyblue;
  text-decoration-line: none;
  text-decoration: none; 
}
#nav ul li:nth-child(2n+1):hover{
  background-color: #2C001E;
  border-radius: 5px;
}
#nav ul li:nth-child(2n+2):hover{
  background-color: #E95420;
  border-radius: 5px;
}
#nav ul li a:hover{
  color: #77216F;
  font-size: 30px;
  font-family: fantasy;
    color: slateblue;
  transform:rotate(1440deg);
  -webkit-transform:rotate(1440deg); /* Safari */
    text-shadow: 2px 1px #2980b9, 3px 2px #2980b9, 4px 3px #2980b9, 5px 4px #2980b9, 6px 5px #2980b9, 7px 6px #2980b9; 
  transition: width 2s, height 2s, color 5s, text-shadow 2s;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s, color 2s, text-shadow 2s;
}
#main{
  margin-left: 210px;
  color: azure;
  padding-left: 20px;
  border-width:15px;
  border-radius:20px;
  border-left: dotted;
  border-right: dotted;
  border-top: dashed;
  border-bottom: dashed;
  border-style:ridge;
  width:500px;
  float:center;
}
#rightcontainer{
  background-color: transparent;
  color: azure;
  width: 300px;
  float: right;
  text-align: left;
  justify-content: space-around;
  border-width: 15px;
  border-radius: 20px;
  border-left: dotted;
  border-top: dashed;
  border-right: none;
  border-bottom: dotted;
  border-style: groove;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
#rightcontainer ul li:nth-child(2n+2):hover{
  background-color: #E95420;
  border-radius: 5px;
}
#rightcontainer ul li:nth-child(2n+1):hover{
  background-color: #77216F;
  border-radius: 5px;
}
#footer{
  margin-top: 20px;
  clear:both;
  background-color: #66CCff;
  color:azure;
  text-align:right;
  border-width:15px;
  border-radius:20px;
  border-bottom: dotted;
  border-left: none;
  border-right: none;
  border-top: dotted;
  border-style:ridge;
}

