@font-face{
	font-family:fontOne;
	src:url(../fonts/ubuntu/UbuntuMono-R.ttf);
}
@font-face{
	font-family: fontTwo;
	src:url("../fonts/Arizonia-Regular.ttf");
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
html{
	background-image: url("../pictures/bggg.jpg");
	background: #2C001E;
}
body{
	background-image: url("../pictures/bggg.jpg");
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border-style: ridge;
	border-color: black; width: 1200px;
	background-color: #806678;
	height: 900px;
	background-attachment: fixed;
}
#header{
	font-size: 30px;
	font-weight: bold;
	padding-top: auto;
	padding-bottom: auto;
	margin-top: 20px;
	height: 70px;
	background-color: #E95420;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-attachment: fixed;
	width: 800px;
	border-color: none;
	border-radius: 10px;
	border-bottom: none;
}
#container{
	width: 800px;
	height: 700px;
	background: orange;
	border-radius: 10px;
	border-color: purple;
	margin-left: auto;margin-right: auto;margin-top: 20px;
}
#sub-container-one,#sub-container-two{
	background-blend-mode: darken;
	height: 600px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 30px;
	margin-top: 20px;
	
}
#sub-container-one{background-color: skyblue;float: left; border-bottom-right-radius: 30px;}
#sub-container-two{background-color: dodgerblue;float: right;border-bottom-right-radius: 30px;}
article{
	margin-top: 50%;
	margin-left: 5px;
	margin-right: 5px;
	font-family: fontOne;
	color: black;
	font-size: 50px;
	font-weight: bold;
}
span{
	transition-duration: 20s;
	color:red;
	font-size: 100px;
	font-weight: bold;
}
#left-nav{
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	border-radius: 10px;
	float: left;
	width: 160px;
	height:160px;
	background-color: purple;
}
#left-nav ul{
	margin-right: auto;
	margin-left: auto;
	list-style: none;
}
#left-nav ul li{
	margin-right: auto;
	margin-left: auto;
}
#left-nav ul li a{
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	color: #E95420;
}
#left-nav ul li:nth-child(2n+1):hover{
	margin-right: auto;
	margin-left: auto;
	background-color:azure;
	font-weight: bold;
	color: azure;
	border-radius: 5px;
	font-size: 30px;
	font-family: fontTwo;
}
#left-nav ul li:nth-child(2n+2):hover{
	color: azure;
	font-weight: bold;
	background-color: lightgreen;
	border-radius: 5px;
	font-family: fontOne;
	font-size: 30px;
}