#div{
	background-image: url(../pictures/0.png);
	background-attachment: fixed;
	background-color: gray;
	background-blend-mode: luminosity;
	height: 1400px;
	color: azure;
	padding:20px;
	margin: 20px;
	font-style: all;
	border-width: 15px;
	border-color: black;
	border-style: groove;
	border-radius: 20px;
}
#containerOne{
	text-align: center;
	border-radius: 20px;
	border-style: groove;
	border-color: orange;
	border-width: 4px;
	background-blend-mode: darken;
	font-family: fantasy;
	font-style: italic;
	color: black;
	font-size: 30px;
}
#containerTwo{
	border-radius: 20px;
	border-color: silver;
	border-width: 2px;
	border-style: groove;
	margin: 20px;
	background-color: darkgray;
}
#main{
	margin-top: 20px;
	display: -webkit-flex; /* Safari */
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

}
#main div{
	padding: 40px;
	margin-left: 30px;
	font-family: sans-serif;
	font-style: italic;
	color: azure;
	border-style: groove;
	border-width: 5px;
	border-color: black;
	border-radius: 20px;
	width: 350px;
	height: 550px;
	background-color: gray;
	background-blend-mode: luminosity;

}